# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
go.sum
go.work.sum

./vendor/
vendor/
# IDEA #
.idea/
*.iml
.DS_Store

# Log #
logs/
*.log

node_modules/
dist/


# local env files
.env.local
.env.*.local

# lock file
-lock.*
*.lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?